<h1>Admin Dashboard</h1>

<div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Inventory by</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Products</th>
          <th><%= @product_count %></th>
        </tr>
        <tr>
          <th>Categories</th>
          <th><%= @category_count %></th>
        </tr>
      </tbody>
      
    </table>

  </div>
